$loadingSpinnerDiameter: 24px;
$loadingSpinnerStrokeWidth: 4px;
$loadingSpinnerStrokeColor: #000;
$loadingSpinnerOpacity: .8;
$loadingSpinnerStrokeStyle: solid;
$loadingSpinnerSpeed: .7s;

.wrapper {
  height: 100vh;
  border-radius: 12px;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  // a hack for safari border-radius with hidden
  -webkit-mask-image: -webkit-radial-gradient(white, black);
  overflow: hidden;
  -webkit-box-shadow: 0px 0px 0px 20px rgba(255,255,255,1);
  -moz-box-shadow: 0px 0px 0px 20px rgba(255,255,255,1);
  box-shadow: 0px 0px 0px 20px rgba(255,255,255,1);

  :global {
    .slick-arrow {
      z-index: 1;
      height: 100%;
      width: 10%;

      & .slick-disabled {
        background: none;
      }
    }

    .slick-prev {
      left: 0;
    }

    .slick-next {
      right: 0;
    }

    .slick-prev, .slick-prev:hover, .slick-prev:focus {
      background: linear-gradient(to left, rgba(255, 255, 255, 0), #FFFFFF);
      border-top-left-radius: 12px;
      border-bottom-left-radius: 12px;
    }

    .slick-next, .slick-next:hover, .slick-next:focus {
      background: linear-gradient(to right, rgba(255, 255, 255, 0), #FFFFFF);
      border-top-right-radius: 12px;
      border-bottom-right-radius: 12px;
    }

    .slick-disabled {
      background: none !important;
    }

    .slick-slide {
      padding-left: 0.5rem;
      box-sizing: border-box;

      &:first-child {
        padding-left: 0;

        :local(.slide) {
          border-left: none;
        }
      }

      &:last-child {
        :local(.slide) {
          border-right: none;
        }
      }
    }
  }

  div:focus, div:active {
    outline: none;
  }
}

.inactive {
  content: '';
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.5);
}

.loader {
  position: absolute;
  width: 100%;
  height: 100vh;
  z-index: 2;
  background-color: rgba(255, 255, 255, 0.5);
}

.loadingSpinner {
  z-index: 1;
  position: absolute;
  top: calc(50% - 16px);
  left: calc(50% - 16px);
  border: $loadingSpinnerStrokeWidth $loadingSpinnerStrokeStyle $loadingSpinnerStrokeColor;
  border-top-color: rgba(0, 0, 0, 0);
  border-left-color: rgba(0, 0, 0, 0);
  width: $loadingSpinnerDiameter - ($loadingSpinnerStrokeWidth * 2);
  height: $loadingSpinnerDiameter - ($loadingSpinnerStrokeWidth * 2);
  opacity: $loadingSpinnerOpacity;
  border-radius: 50%;
  animation: loadingSpinner $loadingSpinnerSpeed infinite linear;
  -webkit-animation: loadingSpinner $loadingSpinnerSpeed infinite linear;
}

@keyframes loadingSpinner {
  from { transform: rotate(0deg)   }
  to   { transform: rotate(360deg) }
}

@-webkit-keyframes loadingSpinner {
  from { -webkit-transform: rotate(0deg)   }
  to   { -webkit-transform: rotate(360deg) }
}

.slide {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  border-radius: 12px;
  overflow: hidden;
  border-width: 0 1px 0 1px;
  border-style: solid;
  border-color: #E8E8EB;
}

.media {
  flex: 1 1 0;
  overflow: hidden;
}

.img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.info {
  padding: 0 0.5rem;
}

.actions {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.action {
  height: 33px;
  margin: 0;
  padding: 0.5rem 1rem;
  text-decoration: none;
  line-height: 1rem;
  background-color: transparent;
  border-width: 1px 0 0 0;
  border-style: solid;
  border-color: #E8E8EB;
  font-family: Arial, serif;
  font-weight: 400;
  color: rgb(16, 24, 32);
  font-size: 1rem;
  cursor: pointer;

  &:hover {
    color: rgb(255, 255, 255);
    background-color: rgb(16, 24, 32);
  }

  &:active {
    opacity: 0.75;
  }

  &:focus, &:active {
    outline: none;
  }
}

.activeBtn {
  color: rgb(255, 255, 255);
  background-color: rgb(16, 24, 32);
}